# Imports

In [ ]:
import pandas as pd
import json
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
# Importando modulo KNN
from sklearn.neighbors import KNeighborsClassifier

# Carregar Dataset

In [ ]:
# Criando dataframe
df_dataset = pd.read_json('sample_data/data.json')
df_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   playlists  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [ ]:
df_dataset.shape

(1000, 1)

In [ ]:
df_dataset.head(5)

                                           playlists
0  {'name': 'Throwbacks', 'collaborative': 'false...
1  {'name': 'Awesome Playlist', 'collaborative': ...
2  {'name': 'korean ', 'collaborative': 'false', ...
3  {'name': 'mat', 'collaborative': 'false', 'pid...
4  {'name': '90s', 'collaborative': 'false', 'pid...

# Normalização de Dados

**Filtrando músicas das playlist**

In [ ]:
with open('sample_data/data.json','r') as f:
    data = json.loads(f.read())

# Carregando somente as playlists
df_playlist = pd.json_normalize(data, record_path =['playlists'])

In [ ]:
# Quantidade de playlists / Quantidade de atributos de cada playlist
df_playlist.shape

(1000, 12)

In [ ]:
# Informações de cada playlist
df_playlist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           1000 non-null   object
 1   collaborative  1000 non-null   object
 2   pid            1000 non-null   int64
 3   modified_at    1000 non-null   int64
 4   num_tracks     1000 non-null   int64
 5   num_albums     1000 non-null   int64
 6   num_followers  1000 non-null   int64
 7   tracks         1000 non-null   object
 8   num_edits      1000 non-null   int64
 9   duration_ms    1000 non-null   int64
 10  num_artists    1000 non-null   int64
 11  description    20 non-null     object
dtypes: int64(8), object(4)
memory usage: 93.9+ KB

In [ ]:
# Listando as 5 primeiras playlists
df_playlist.head(5)

,name,collaborative,pid,modified_at,num_tracks,num_albums,num_followers,tracks,num_edits,duration_ms,num_artists,description
0,Throwbacks,false,0,1493424000,52,47,1,"[{'pos': 0, 'artist_name': 'Missy Elliott', 't...",6,11532414,37,NaN
1,Awesome Playlist,false,1,1506556800,39,23,1,"[{'pos': 0, 'artist_name': 'Survivor', 'track_...",5,11656470,21,NaN
2,korean,false,2,1505692800,64,51,1,"[{'pos': 0, 'artist_name': 'Hoody', 'track_uri...",18,14039958,31,NaN
3,mat,false,3,1501027200,126,107,1,"[{'pos': 0, 'artist_name': 'Camille Saint-Saën...",4,28926058,86,NaN
4,90s,false,4,1401667200,17,16,2,"[{'pos': 0, 'artist_name': 'The Smashing Pumpk...",7,4335282,16,NaN

**Agrupar músicas**

In [ ]:
# Número de músicas de todas(0-999) as playlists
df_playlist['num_tracks'].sum()

67503

In [ ]:
# Acessando nome das playlists
nomes_playlist = df_playlist['pid']
nomes_playlist[1]

1

In [ ]:
# Acessando nome das playlists
nomes_playlist = df_playlist['name']
nomes_playlist

In [ ]:
df_playlist_name = pd.DataFrame()
df_playlist_name["playlist_name"] = nomes_playlist 
df_playlist_name

        playlist_name
0          Throwbacks
1    Awesome Playlist
2             korean
3                 mat
4                 90s
..                ...
995               old
996              Daze
997               rap
998           Country
999   thinking of you

[1000 rows x 1 columns]

In [ ]:
# Acessando musicas das playlists
musicas_playlist = df_playlist['tracks']
musicas_playlist[0]

In [ ]:
def addDF(id_playlist, titulo, musicas):
  df = pd.DataFrame()  
  df = pd.DataFrame(musicas); 
  df['idPlaylist'] = id_playlist
  df['tituloPlaylist'] = titulo
  return df

In [ ]:
def agrupar_musicas(df_playlist, qtdePlaylist):
  df = pd.DataFrame() 
  for i in range(qtdePlaylist):
    id_playlist = df_playlist['pid'][i]
    titulo = df_playlist['name'][i]
    musicas = df_playlist['tracks'][i]
    df = df.append(addDF(id_playlist, titulo, musicas))
  return df

In [ ]:
df_musicas = agrupar_musicas(df_playlist, 50)
df_musicas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2891 entries, 0 to 44
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pos             2891 non-null   int64
 1   artist_name     2891 non-null   object
 2   track_uri       2891 non-null   object
 3   artist_uri      2891 non-null   object
 4   track_name      2891 non-null   object
 5   album_uri       2891 non-null   object
 6   duration_ms     2891 non-null   int64
 7   album_name      2891 non-null   object
 8   idPlaylist      2891 non-null   int64
 9   tituloPlaylist  2891 non-null   object
dtypes: int64(3), object(7)
memory usage: 248.4+ KB

In [ ]:
df_musicas

,pos,artist_name,track_uri,artist_uri,track_name,album_uri,duration_ms,album_name,idPlaylist,tituloPlaylist
0,0,Missy Elliott,spotify:track:0UaMYEvWZi0ZqiDOoHU3YI,spotify:artist:2wIVse2owClT7go1WT98tk,Lose Control (feat. Ciara & Fat Man Scoop),spotify:album:6vV5UrXcfyQD1wu4Qo2I9K,226863,The Cookbook,0,Throwbacks
1,1,Britney Spears,spotify:track:6I9VzXrHxO9rA9A5euc8Ak,spotify:artist:26dSoYclwsYLMAKD3tpOr4,Toxic,spotify:album:0z7pVBGOD7HCIB7S8eLkLI,198800,In The Zone,0,Throwbacks
2,2,Beyoncé,spotify:track:0WqIKmW4BTrj3eJFmnCKMv,spotify:artist:6vWDO969PvNqNYHIOW5v0m,Crazy In Love,spotify:album:25hVFAxTlDvXbx2X2QkUkE,235933,Dangerously In Love (Alben für die Ewigkeit),0,Throwbacks
3,3,Justin Timberlake,spotify:track:1AWQoqb9bSvzTjaLralEkT,spotify:artist:31TPClRtHm23RisEBtV3X7,Rock Your Body,spotify:album:6QPkyl04rXwTGlGlcYaRoW,267266,Justified,0,Throwbacks
4,4,Shaggy,spotify:track:1lzr43nnXAijIGYnCT8M8H,spotify:artist:5EvFsr3kj42KNv97ZEnqij,It Wasn't Me,spotify:album:6NmFmPX56pcLBOFMhIiKvF,227600,Hot Shot,0,Throwbacks
...,...,...,...,...,...,...,...,...,...,...
40,40,Kelly Price,spotify:track:3PlmR2sBI5WJqvLlFaRa5O,spotify:artist:49FeZO3eSrJs7oH7lYLU1r,Lord Of All,spotify:album:0k75jOkzHNHY3IdmjyZA9u,350266,Soul Of A Woman,49,Gospel
41,41,Kelly Price,spotify:track:3Wakuaf7Bdr48SY1eSEEgc,spotify:artist:49FeZO3eSrJs7oH7lYLU1r,"Precious Lord, Take My Hand",spotify:album:3iOmYWY221vwNiUX7hOgUM,155306,This Is Who I Am,49,Gospel
42,42,Kurt Carr & The Kurt Carr Singers,spotify:track:7hZRgQiZEKf1e8KTEVIkQN,spotify:artist:5yoZYhT8x7DXiFl0srkXLQ,In the Sanctuary - Live,spotify:album:6fFB0IdnQZEuSeKjgSMMJF,369120,Playlist: The Very Best Of Kurt Carr,49,Gospel
43,43,Kirk Franklin,spotify:track:3rDJ4H6XTEpt5otqx4h1Ce,spotify:artist:4akybxRTGHJZ1DXjLhJ1qu,Hosanna,spotify:album:2g85kD3g7lt1EGtcJxs7gt,308373,The Essential Kirk Franklin,49,Gospel
44,44,Fred Hammond,spotify:track:5X2jIyGY95YNF3kmeOg1V1,spotify:artist:2ndyVAdV9UqF1XjyTJt484,You Are The Living Word,spotify:album:2mI4JRPhTGEZXw3g6dBCtA,327386,Purpose By Design,49,Gospel

# Análise Exploratóriaa

*   *Quais os artistas mais ouvidos em todas as playlists ?*
* *Quais as músicas mais ouvidos em todas as playlists ?*
*   *Ranquear os artistas mais ouvidos de cada playlist*
* *Ranquear os albuns mais ouvidos de cada playlist*

In [ ]:
df_musica_ordenado = df_musicas.sort_values(by='artist_name', ascending=True)
df_musica_ordenado.head(8)

,pos,artist_name,track_uri,artist_uri,track_name,album_uri,duration_ms,album_name,idPlaylist,tituloPlaylist
44,44,*NSYNC,spotify:track:5efcmnfzIROJ5Aj7EGSDm8,spotify:artist:6Ff53KvcvAj5U7Z1vojB5o,Gone,spotify:album:7gfXFkA259SkaFeJxSFtKE,292000,Celebrity,41,Belters
43,43,*NSYNC,spotify:track:35zGjsxI020C2NPKp2fzS7,spotify:artist:6Ff53KvcvAj5U7Z1vojB5o,It's Gonna Be Me,spotify:album:5hMd4vAfSUT1cbYCnRUako,191040,No Strings Attached,41,Belters
42,42,*NSYNC,spotify:track:2Dp2LRrY71XIfLe3co2Qnh,spotify:artist:6Ff53KvcvAj5U7Z1vojB5o,This I Promise You,spotify:album:5hMd4vAfSUT1cbYCnRUako,283506,No Strings Attached,41,Belters
45,45,*NSYNC,spotify:track:6aw26tMh7aY9S7rqQDDaIQ,spotify:artist:6Ff53KvcvAj5U7Z1vojB5o,Thinking Of You (I Drive Myself Crazy) - Remix,spotify:album:7K5qlneuWF1CcY6ERzwkLB,240733,'N Sync UK Version,41,Belters
24,24,2 Chainz,spotify:track:07RXBKfyCYIYRMLCvlGWXU,spotify:artist:17lzZA2AlOHwCwFALHttmp,Feds Watching,spotify:album:3m0MH2qRupmo8waQOwXkrV,247013,B.O.A.T.S. II #METIME,37,Hits
2,2,311,spotify:track:0orNm6qQT2B5WFi0l7l3PV,spotify:artist:41Q0HrwWBtuUkJc7C1Rp6K,Jackolantern's Weather,spotify:album:6VIeIM5tetuv7FrYxISffU,204160,311,6,I Put A Spell On You
0,0,311,spotify:track:0HDaKOlVAfUWXdFR2RhBtN,spotify:artist:41Q0HrwWBtuUkJc7C1Rp6K,Down,spotify:album:6VIeIM5tetuv7FrYxISffU,172160,311,14,90's
4,4,311,spotify:track:2PGaYCles9SXXCjYOcjyfk,spotify:artist:41Q0HrwWBtuUkJc7C1Rp6K,Too Much To Think,spotify:album:5UWEPNU1vVbtxCBvI0ptOW,234451,MOSAIC,8,BOP

In [ ]:
df_dataset = df_musica_ordenado[['idPlaylist', 'tituloPlaylist', 'album_name', 'artist_name', 'track_name']]
df_dataset.columns = ['Playlist_ID', 'Playlist_Título', 'Album', 'Artista', 'Musica']
df_dataset.head(10)

,Playlist_ID,Playlist_Título,Album,Artista,Musica
44,41,Belters,Celebrity,*NSYNC,Gone
43,41,Belters,No Strings Attached,*NSYNC,It's Gonna Be Me
42,41,Belters,No Strings Attached,*NSYNC,This I Promise You
45,41,Belters,'N Sync UK Version,*NSYNC,Thinking Of You (I Drive Myself Crazy) - Remix
24,37,Hits,B.O.A.T.S. II #METIME,2 Chainz,Feds Watching
2,6,I Put A Spell On You,311,311,Jackolantern's Weather
0,14,90's,311,311,Down
4,8,BOP,MOSAIC,311,Too Much To Think
24,45,angst,WANT,3OH!3,DONTTRUSTME - Explicit Album Version
20,28,Yeet,I'm On Fire (Beam Me Up) (feat. Renzo) - Single,3rddy Baby,I'm On Fire (Beam Me Up) (feat. Renzo)

In [ ]:
# Ranking das Músicas mais ouvidos em todas as playlists selecionadas
df_top10_musicas = df_dataset["Musica"].value_counts()[:10]
df_top10_musicas

Closer                 6
Party In The U.S.A.    4
Home                   4
Forever                4
Chandelier             4
Thinking Out Loud      4
Replay                 4
Roses                  4
Sorry                  4
Little Toy Guns        3
Name: Musica, dtype: int64

In [ ]:
# Ranking dos Artistas mais ouvidos em todas as playlists selecionadas
df_top10_artistas = df_dataset["Artista"].value_counts()[:10]
df_top10_artistas

Parquet Courts      52
Jason Aldean        35
Justin Bieber       26
Rascal Flatts       26
Keith Urban         25
The Orwells         23
Iron Chic           21
Blake Shelton       21
The Chainsmokers    20
Titus Andronicus    20
Name: Artista, dtype: int64

In [ ]:
# Ranking dos artistas mais ouvidos em cada playlist
group = df_dataset.groupby(["Playlist_ID", "Artista"])
df_group_playlist_artista = group.size().reset_index(name='counts')
df_playlist_artista_top_10 = df_group_playlist_artista.sort_values(by='counts', ascending=False)[:10]
df_playlist_artista_top_10

      Playlist_ID             Artista  counts
1041           30      Parquet Courts      52
1544           41        Jason Aldean      28
1043           30         The Orwells      23
1038           30           Iron Chic      21
1550           41         Keith Urban      21
1044           30    Titus Andronicus      20
1563           41       Rascal Flatts      18
1042           30        Restorations      18
1040           30       Palma Violets      12
1185           32  Rodrigo y Gabriela      12

In [ ]:
# Ranking dos albuns mias ouvidos em cada playlist
group = df_dataset.groupby(["Playlist_ID", "Album"])
df_group_playlist_album = group.size().reset_index(name='counts')
df_playlist_album_top_10 = df_group_playlist_album.sort_values(by='counts', ascending=False)[:10]
df_playlist_album_top_10

      Playlist_ID                  Album  counts
1269           30         Content Nausea      24
1274           30          Light Up Gold      15
1279           30      Sunbathing Animal      13
1278           30          Remember When      12
1875           41  Hunter Hayes (Encore)      11
1280           30       The Constant One      11
1271           30           Disgraceland      11
1266           30                    180      11
1275           30         Local Business      10
1276           30          Not Like This      10

# ML

In [ ]:
from sklearn.preprocessing import LabelEncoder

#Transform fields from Object to int
def transform_fields(df, fields):
  label_encoder = LabelEncoder()
  for field in fields:
    df[field] = label_encoder.fit_transform(list(df[field].values))
  return df

In [ ]:
referencia_nome_artista = ['artist_uri']
df_musicas_formatada = transform_fields(df_musica_ordenado, referencia_nome_artista)
referencia_nome_musica = ['track_uri']
df_musicas_formatada = transform_fields(df_musica_ordenado, referencia_nome_musica)
referencia_album_name = ['album_uri']
df_musicas_formatada = transform_fields(df_musica_ordenado, referencia_album_name)

In [ ]:
# Selecionando variáveis chaves
#df_musica_ordenado = df_musica_ordenado.drop('artist_name', 1)
#df_musica_ordenado = df_musica_ordenado.drop('track_name', 1)
#df_musica_ordenado = df_musica_ordenado.drop('album_name', 1)

In [ ]:
# Analisando alguma correlação entre as variáveis
df_playlist.corr().style.background_gradient(cmap='Blues')

In [ ]:
X = df_feat
y = df_tracks_format['artist_name']

NameError: ignored

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [ ]:
knn = KNeighborsClassifier(n_neighbors=5)

knn.fit(X_train, y_train)

In [ ]:
pred = knn.predict(X_test)

In [ ]:
pred